body {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: black;
    color: white;
}

h1 {
    text-align: center;
}
.pagelink_row {
    display: flex;
    justify-content: center;
}

.pagelink_row > a > h3{
    text-align: center;
}

.pagelink_row > a {
    background-color: rgb(27, 144, 212);
    color: rgb(0, 0, 0);
    text-decoration: none;

    padding: 30px;
    width: 200px;
    aspect-ratio: 1 / 1;
    margin: 20px;
    display: block;
}

.nav {
    background-color: rgb(43, 109, 48);
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: -8px;
    margin-right: -8px;
    margin-top: -8px;
}

.nav a {
    text-decoration: none;
    color: white;
}

.nav a:hover {
    text-decoration: underline;
    color: limegreen;
}

.nav > ul {
    display: flex;
    justify-content: space-evenly;
    margin-left: 10%;
    margin-right: 10%
}

.nav > ul > li {
    color: rgb(43, 109, 48);
}

.code_editor {
    tab-size: 4;
}

.contents {
    margin-left: 25%;
    margin-right: 25%;
    justify-content: center;
}

.editor_container {
    display: flex;
}

.mono {
    font-family: monospace;
    background-color: rgb(39, 39, 39);
    border-radius: 6px;
    padding: 3px;
}

.codebox {
    font-family: monospace;
    background-color: rgb(39, 39, 39);
    border-radius: 6px;
    padding: 10px;
}

.roman-forum {
    max-width: 100%;
    height: auto;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}