body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #1e1e2e;
    color: #cdd6f4;
}

h1 {
    text-align: center;
}
.pagelink_row {
    display: flex;
    justify-content: center;
}

.pagelink_row > a > h3{
    text-align: center;
}

.pagelink_row > a {
    background-color: #313244;
    color: #bac2de;
    text-decoration: none;

    padding: 30px;
    width: 200px;
    aspect-ratio: 1 / 1;
    margin: 20px;
    display: block;
}

.nav {
    background-color: #313244;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: -8px;
    margin-right: -8px;
    margin-top: -8px;
}

.nav a {
    text-decoration: none;
    color: #bac2de;
}

.nav a:hover {
    text-decoration: underline;
    color: #89dceb;
}

.nav > ul {
    display: flex;
    justify-content: space-evenly;
    margin-left: 10%;
    margin-right: 10%
}

.nav > ul > li {
    color: #313244;
}

.code_editor {
    tab-size: 4;
    border-radius: 10px;
    border: 2px solid #6c7086;
    background-color: #313244;
    resize: none;
    color: #cdd6f4;
    padding: 12px;
    scrollbar-color: #45475a #7f849c;
    margin: 5px;
}

.contents {
    margin-left: 25%;
    margin-right: 25%;
    justify-content: center;
}

.editor_container {
    display: flex;
}

.mono {
    font-family: monospace;
    background-color: rgb(39, 39, 39);
    border-radius: 6px;
    padding: 3px;
}

.codebox {
    font-family: monospace;
    background-color: rgb(39, 39, 39);
    border-radius: 6px;
    padding: 10px;
}

.roman-forum {
    max-width: 100%;
    height: auto;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}